.menuCurvesShow::after{
    content: '\2692';
    font-size: 26px;
    color: #111;
}

.artifacts{
    position: relative;
}
.menuCurves{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: #f7f9fc;
}

.menuCurves__content{

}

.menuCurves__header{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.menuCurves__titleContainer{
    width: 90%;
}

.menuCurves__btnClose{
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #777777;
    border: none;
    border-radius: 50%;
}

.menuCurves__btnClose::after{
    content: '\2716';
    color: #fff;
    font-size: 14px;
}

.menuCurves__btnClose:hover{
    background-color: #000;
}
.menuCurves__btnClose:active{
    transform: translateY(1px);
}

.menuCurves__title{
    font-weight: 100;
    letter-spacing: 1px;
    color: #444;
    text-decoration: underline;
}

.menuCurves__allCurves{
  
    min-height: 100px;;
    max-height: 350px;
    margin: 10px 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    padding: 10px 0;
}

.menuCurves__curve{
    width: 44%;
    height: 100px;
    
    cursor: pointer;
    border-radius: .15rem;
    border: none;
    /* outline: 1px solid #a7a5a5; */
    outline: 1px solid #080833;
    margin: 3px;
    background-color: #fff;
    transition: transform .1s;

}

.menuCurves__curve:hover{
    transform: scale(1.2);
    outline: 2px solid #2cc57a;
}

.menuCurves__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.d-none{
    display: none;
}
.menuCurves__allCurves::-webkit-scrollbar{
    background: #ccc;
    width: 8px;
    border-radius: 4px;
  }
  .menuCurves__allCurves::-webkit-scrollbar-thumb{
    background-color: #006ebb;
    border-radius: 4px;
    width: 10px;
  }



/* 
  STYLE INPUTS BUTTONS
*/

.pointInput::after{
    content: "\2750";
    color: #000;
    font-size: 26px;
}


.inputsToPoints{
    
    min-width: 10px;
    max-width: 20px;
    min-height: 16px;
    height: 20px;
    outline: 1px solid black;
    border-radius: .2rem;
    padding: 5px;
    text-align: center;
    background-color: #fff;
}
.btnGrid{

}
.btnGrid::after{
    content: ' ▦ ';
    color: #000;
    font-size: 24px;
}

@media screen and (max-width: 500px){
    .menuCurves__curve{
        width: 85%;
    }
    
    .menuCurves__curve:hover{
        transform: scale(1.1);
        outline: 2px solid #2cc57a;
        
    }
}

